* {
  color: #000;
  background: transparent;
  font-family: minion-pro, serif;
  font-size: 11pt;
}

@page {
  margin: 0.5in;
}

h1, h1 a, h2, h3, h3 em, footer p small, footer p small a {
  font-family: futura-pt, sans-serif;
}

h1,
h1 a {
  font-size: 24pt;
}

h2 {
  font-size: 18pt;
  border-bottom: 1pt solid #999;
}

h3 {
  font-size: 14pt;
  margin-bottom: 0;
}

h3 + p {
  margin-top: 0;
}

h3 em {
  color: #222;
  float: right;
}

#supporters,
.supporters,
.share,
.github img,
article p:last-of-type {
  display: none;
}

a {
  text-decoration: none;
}

a[href^="http"] {
  content: " (" attr(href) ") "
}
