html {
    color: #555;
    font-family: minion-pro, serif;
    font-size: 16px;
    line-height: 20px;
}

h1, h2, h3, p, li {
    margin: 0 0 20px;
    position: relative;
}


h1, h2, h3, footer {
    font-family: futura-pt, sans-serif;
}

h1, h2 {
    color: #000;
    line-height: 40px;
}


h1 {
    font-size: 32px;
}

h2 {
    border-bottom: 1px solid #ccc;
    font-size: 28px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

h3 {
    color: #333;
    font-size: 18px;
    line-height: 20px;
}

h3 em {
    color: #999;
    font-size: 16px;
    float: right;
}

a {
    color: #008DF2;
    text-decoration: none;
}

article {
    margin: 0 auto;
    max-width: 480px;
    padding: 40px 20px;
}

footer {
    background: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
}

footer p {
    margin: 0;
}

.share {
    text-align: center;
}

.share a {
    color: #000;
    display: inline-block;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: top;
    white-space: nowrap;
}

.share a:hover {
    opacity: 0.75;
}

@media (min-width: 500px) {
    .supporters ul {
        overflow: hidden;
    }

    .supporters ul li {
        color: #999;
        font-size: 12px;
        float: left;
        min-height: 40px;
        width: 33%;
    }

    .supporters ul a {
        display: block;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .github {
        display: none;
    }
}