<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/media/css/reset.css">
    <link rel="stylesheet" href="/media/css/site.css">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://use.typekit.com/czp0aft.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <article>
        {{ content }}
        <a class="github" href="http://github.com/hackdaymanifesto/hackdaymanifesto.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
    </article>
    <footer>
        <p><small>&copy; 2012 <a href='http://creativecommons.org/licenses/by/3.0/'>SOME RIGHTS RESERVED</a></small></p>
    </footer>
</body>
</html>